/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "keys_sl.h"
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        htL: htL {
            compatible = "zmk,behavior-hold-tap";
            label = "HTL";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39>;
            tapping-term-ms = <200>;
            flavor = "tap-unless-interrupted";
            hold-trigger-on-release;
        };
        htR: htR {
            compatible = "zmk,behavior-hold-tap";
            label = "HTR";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 38>;
            flavor = "tap-unless-interrupted";
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // |  ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
  &kp TAB         &kp Q              &kp W            &kp E             &kp R      &kp T    &kp SL_Z            &kp U            &kp I              &kp O                  &kp P        &kp BSPC
  &kp ESC  &htL LCTRL A  &htL LEFT_SHIFT S  &htL LEFT_GUI D   &htL LEFT_ALT F      &kp G       &kp H  &htR LEFT_ALT J  &htR LEFT_GUI K  &htR LEFT_SHIFT L  &htR LCTRL SL_C_CARON  &kp SL_S_CARON
&kp LSHFT      &kp SL_Y              &kp X            &kp C  &htL RIGHT_ALT V      &kp B       &kp N      &htR RALT M        &kp COMMA            &kp DOT           &kp SL_MINUS  &kp SL_Z_CARON
                                                   &kp LGUI             &mo 1  &kp SPACE     &kp RET            &mo 2           &trans
            >;
        };

        lower {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9        &kp SLASH      &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP    &kp END  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &kp SL_ASTERISK      &kp LEFT       &kp DOWN       &kp UP  &kp RIGHT  &trans  &trans
&trans  &kp N0  &kp N1  &kp N2  &kp N3           &trans    &kp INSERT     &kp DELETE       &trans     &trans  &trans  &trans
                        &trans  &trans           &trans        &trans          &mo 3     &kp RALT
            >;

            label = "LWR";
        };

        raise {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans  &trans  &trans     &trans    &trans        &kp LPAR           &kp RPAR  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans    &trans  &kp LEFT_BRACE    &kp RIGHT_BRACE  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans    &trans        &kp LBKT  &kp RIGHT_BRACKET  &trans  &trans  &trans
                        &trans   &mo 3  &kp SPACE    &trans          &trans             &trans
            >;

            label = "RSE";
        };

        both {
            bindings = <
         &trans        &trans        &trans        &trans  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF    &trans  &kp C_VOLUME_DOWN   &kp C_VOLUME_UP  &kp K_MUTE  &trans  &trans
&rgb_ug RGB_TOG    &bl BL_TOG        &trans        &trans  &rgb_ug RGB_BRD  &rgb_ug RGB_EFR    &trans         &kp K_PREV  &kp K_PLAY_PAUSE  &kp K_NEXT  &trans  &trans
     &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4    &trans             &trans            &trans      &trans  &trans  &trans
                                                   &trans           &trans           &trans    &trans             &trans            &trans
            >;

            label = "BTH";
        };
    };
};
